# Ignore FastAPI-specific files
alembic/
alembic.ini
*.db

# Ignore environment-specific files
.env
.env.*

# Ignore Python byte-compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
ENV/
env.bak/
venv.bak/

# Ignore log files
*.log
logs/

# Ignore coverage reports
.coverage
coverage.xml

# Ignore Pytest cache
.pytest_cache/

